<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

{% if st=="1" %}
<span style="color:#003399">Staff:{{tdata[2]}}-{{staff}}</span><br>
<span style="color:#003399">Subject:{{tdata[4]}}, Period: {{tdata[5]}}:{{tdata[6]}} to {{tdata[7]}}:{{tdata[8]}}</span><br>
<span style="color:#003399">Student: {{value[1]}} [{{value[13]}}], Present</span>

<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/process1';
}, 15000);
</script>

{% else %}
<span style="color:#003399">No Period!</span>
<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/process1';
}, 5000);
</script>
{% endif %}







</body>
</html>
